.balance {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
}

.total__deposit {
  color: green;
}

.total__withdraw {
  color: red;
}

.total__balance {
  color: #5c6975;
}
